In [5]:
from joblib import load
import pandas as pd
import code.operators as ops

In [6]:
data = pd.read_csv('x_train.csv', index_col=['Loan_ID'])
svc = load('svc_loan.joblib')

In [7]:
X_new = ops.data_generator(data)

In [8]:
X_new.describe()

,Gender,Education,Self_Employed,Credit_History,Property_Area_Semiurban,Property_Area_Urban,ln_monthly_return,ln_total_income,ln_LoanAmount
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.508000,0.476000,0.501000,0.492000,0.515000,0.508000,1.038411,-0.904478,1.073270
std,0.500186,0.499674,0.500249,0.500186,0.500025,0.500186,21.232451,20.217414,21.241634
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-56.966379,-57.556815,-73.529122
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-13.427054,-15.297069,-14.050383
50%,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.008042,-1.105891,1.268514
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,15.368907,12.716226,15.801905
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,58.184400,64.921885,67.383413

In [9]:
pred_n = ops.create_eval(svc, X_new)

In [10]:
ops.calc_disparity_index(pred_n, 'Pred', 'Gender')

1-min(DI, 1/DI): 0.07
The algorithm can be considered to be not biased