In [1]:
from joblib import load
import pandas as pd
import code.operators as ops

In [2]:
data = pd.read_csv('x_train.csv', index_col=['Loan_ID'])
svc_bias = load('svc_loan_bias.joblib')
lr_bias = load('lr_loan_bias.joblib')
lr = load('lr_loan.joblib')
svc = load('svc_loan.joblib')

In [3]:
X_new = ops.data_generator_fd(data)

In [4]:
X_new.describe()

,Gender,Education,Self_Employed,Credit_History,Property_Area_Semiurban,Property_Area_Urban,ln_monthly_return,ln_total_income,ln_LoanAmount
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.494000,0.512000,0.512000,0.476000,0.48000,0.507000,1.157376,-0.376203,0.103196
std,0.500214,0.500106,0.500106,0.499674,0.49985,0.500201,22.935391,21.301399,22.947957
min,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,-70.042656,-80.192203,-75.649559
25%,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,-15.033415,-14.817428,-15.035228
50%,0.000000,1.000000,1.000000,0.000000,0.00000,1.000000,1.764955,-0.428446,0.925702
75%,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,17.034544,13.828990,14.844610
max,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,74.080624,65.072174,73.219279

In [5]:
pred_n_bias = ops.create_eval(svc_bias, X_new)

In [6]:
ops.calc_disparity_index(pred_n_bias, 'Pred', 'Gender',1,0)

1-min(DI, 1/DI): 0.957
There is a potential bias

In [7]:
ops.calc_stat_parity(pred_n_bias, 'Pred', 'Gender',1,0)

-0.44
The algorithm can be considered to be not biased

In [8]:
ops.calc_mean_diff(pred_n_bias, 'Pred', 'Gender',1,0)

-0.44
There is a potential bias

In [9]:
ops.equal_opportunity(X_new, pred_n_bias, 'Pred', 'Gender', 1, 0)

-0.43214154614198663
There is a potential bias

In [10]:
ops.coeff_variation(X_new, pred_n_bias, 'Pred', 'Gender', 1, 0)

0.4418181523146135
There is a potential bias