In [1]:
from joblib import load
import pandas as pd
import code.operators as ops

In [2]:
data = pd.read_csv('x_train.csv', index_col=['Loan_ID'])
svc = load('svc_loan_bias.joblib')

In [3]:
X_new = ops.data_generator(data)

In [4]:
X_new.describe()

,Gender,Education,Self_Employed,Credit_History,Property_Area_Semiurban,Property_Area_Urban,ln_monthly_return,ln_total_income,ln_LoanAmount
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000
mean,0.486000,0.471000,0.530000,0.479000,0.511000,0.52000,0.397560,-0.170958,-0.144087
std,0.500054,0.499408,0.499349,0.499809,0.500129,0.49985,23.245426,21.647497,22.858404
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,-81.916522,-74.998618,-64.878682
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,-15.341023,-15.029873,-15.811077
50%,0.000000,0.000000,1.000000,0.000000,1.000000,1.00000,-0.151291,-1.001022,0.263338
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,16.361234,15.109104,14.103800
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,77.062118,68.122874,66.782666

In [5]:
pred_n = ops.create_eval(svc, X_new)

In [6]:
ops.calc_disparity_index(pred_n, 'Pred', 'Gender',1,0)

1-min(DI, 1/DI): 0.95
There is a potential bias

In [7]:
ops.calc_stat_parity(pred_n, 'Pred', 'Gender',1,0)

-0.402
There is a potential bias