In [10]:
from joblib import load
import pandas as pd
import code.operators as ops

In [11]:
data = pd.read_csv('x_train.csv', index_col=['Loan_ID'])
svc_bias = load('svc_loan_bias.joblib')
lr_bias = load('lr_loan_bias.joblib')
lr = load('lr_loan.joblib')
svc = load('svc_loan.joblib')

In [12]:
X_new = ops.data_generator_fd(data)

In [13]:
X_new.describe()

,Gender,Education,Self_Employed,Credit_History,Property_Area_Semiurban,Property_Area_Urban,ln_monthly_return,ln_total_income,ln_LoanAmount
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.491000,0.476000,0.489000,0.514000,0.47300,0.524000,0.069898,-1.820602,-0.909197
std,0.500169,0.499674,0.500129,0.500054,0.49952,0.499674,23.268785,22.409966,22.137986
min,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,-86.391253,-72.525692,-74.287313
25%,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,-15.024405,-17.986257,-15.476141
50%,0.000000,0.000000,0.000000,1.000000,0.00000,1.000000,0.000277,-2.025735,-0.803175
75%,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,15.542380,13.495779,14.159170
max,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,108.244926,70.573115,67.397932

In [14]:
pred_n_bias = ops.create_eval(svc_bias, X_new)

In [15]:
ops.calc_disparity_index(pred_n_bias, 'Pred', 'Gender',1,0)

1-min(DI, 1/DI): 0.911
There is a potential bias

In [16]:
ops.calc_stat_parity(pred_n_bias, 'Pred', 'Gender',1,0)

-0.423
There is a potential bias

In [17]:
#X_new['outcome'] = np.random.binomial(1, .5, 1000)
#from sklearn.linear_model import LogisticRegression
#y = X_new['outcome']
#x = X_new.drop(columns=['outcome'])
#lr_new = LogisticRegression(y,x)

In [18]:
pred_n_bias.describe()

,Gender,Education,Self_Employed,Credit_History,Property_Area_Semiurban,Property_Area_Urban,ln_monthly_return,ln_total_income,ln_LoanAmount,Pred
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,0.491000,0.476000,0.489000,0.514000,0.47300,0.524000,0.069898,-1.820602,-0.909197,0.24900
std,0.500169,0.499674,0.500129,0.500054,0.49952,0.499674,23.268785,22.409966,22.137986,0.43265
min,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,-86.391253,-72.525692,-74.287313,0.00000
25%,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,-15.024405,-17.986257,-15.476141,0.00000
50%,0.000000,0.000000,0.000000,1.000000,0.00000,1.000000,0.000277,-2.025735,-0.803175,0.00000
75%,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,15.542380,13.495779,14.159170,0.00000
max,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,108.244926,70.573115,67.397932,1.00000

In [19]:
pred_n = ops.create_eval(svc, X_new)

In [21]:
ops.calc_disparity_index(pred_n, 'Pred', 'Gender',1,0)

1-min(DI, 1/DI): 0.12
The algorithm can be considered to be not biased

In [22]:
pred_n.describe()

,Gender,Education,Self_Employed,Credit_History,Property_Area_Semiurban,Property_Area_Urban,ln_monthly_return,ln_total_income,ln_LoanAmount,Pred
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.491000,0.476000,0.489000,0.514000,0.47300,0.524000,0.069898,-1.820602,-0.909197,0.514000
std,0.500169,0.499674,0.500129,0.500054,0.49952,0.499674,23.268785,22.409966,22.137986,0.500054
min,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,-86.391253,-72.525692,-74.287313,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,-15.024405,-17.986257,-15.476141,0.000000
50%,0.000000,0.000000,0.000000,1.000000,0.00000,1.000000,0.000277,-2.025735,-0.803175,1.000000
75%,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,15.542380,13.495779,14.159170,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,108.244926,70.573115,67.397932,1.000000

In [23]:
pred_n_bias.describe()

,Gender,Education,Self_Employed,Credit_History,Property_Area_Semiurban,Property_Area_Urban,ln_monthly_return,ln_total_income,ln_LoanAmount,Pred
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,0.491000,0.476000,0.489000,0.514000,0.47300,0.524000,0.069898,-1.820602,-0.909197,0.24900
std,0.500169,0.499674,0.500129,0.500054,0.49952,0.499674,23.268785,22.409966,22.137986,0.43265
min,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,-86.391253,-72.525692,-74.287313,0.00000
25%,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,-15.024405,-17.986257,-15.476141,0.00000
50%,0.000000,0.000000,0.000000,1.000000,0.00000,1.000000,0.000277,-2.025735,-0.803175,0.00000
75%,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,15.542380,13.495779,14.159170,0.00000
max,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,108.244926,70.573115,67.397932,1.00000